<ng-include src="'views/header/header.view.html'"></ng-include>

<div class="container" ng-controller="AdminNewsController">
    <h1>Admin</h1>
    <h2>Comments</h2>
    <br />
    <div>
        <ul class="nav nav-pills">
            <li><a href="#/adminuser" data-toggle="tab">Users</a></li>
            <li><a href="#/admincomment" data-toggle="tab">Team Comments</a></li>
            <li class="active"><a data-toggle="tab">News Comments</a></li>
            <li><a href="#/adminmessage" data-toggle="tab">Messages</a></li>
        </ul>
    </div>

    <br />
    <div class="table-responsive">
        <table class="table" style="background:#ffffff">
            <thead>
                <tr class="table-bordered">
                    <th class="table-bordered">TeamId</th>
                    <th class="table-bordered">UserId</th>
                    <th class="table-bordered">Comment</th>
                    <th class="table-bordered">Action</th>
                </tr>
            </thead>
            <tbody ng-repeat='new in news'>
                <tr class="table-bordered">
                    <td rowspan="{{new.comments.length}}">
                        <a ng-click="toNewsPage(new.newsId)">{{new.titleNoFormatting}}</a>
                    </td>
                    <td>{{new.comments[0].email}}</td>
                    <td>{{new.comments[0].commentText}}</td>
                    <td>
                        <a>
                            <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"
                                  ng-click="delete(new,new.comments[0])"></span>
                        </a>
                    </td>
                </tr>
                <tr class="table-bordered"
                    ng-repeat='comment in  new.comments' ng-show="$index > 0">
                    <td>{{comment.email}}</td>
                    <td>{{comment.commentText}}</td>
                    <td>
                        <a>
                            <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"
                                  ng-click="delete(new,comment)"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>