<ng-include src="'views/header/header.view.html'"></ng-include>
<div class="container" ng-controller="AdminUserController">
    <h1>Admin</h1>
    <h2>Users</h2>
    <br />
    <div>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab">Users</a></li>
            <li><a href="#/admincomment" data-toggle="tab">Team Comments</a></li>
            <li><a href="#/adminnews" data-toggle="tab">News Comments</a></li>
            <li><a href="#/adminmessage" data-toggle="tab">Messages</a></li>
            
        </ul>
    </div>

    <br />
    <div class="table-responsive">
        <table class="table" style="background:#ffffff">
            <tr class="table-bordered">
                <th class="table-bordered">Username</th>
                <th class="table-bordered">Action</th>
            </tr>

            <tr class="table-bordered" ng-repeat="user in users">
                <td>{{user.fullName}}</td>
                <td>
                    <a><span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"
                             ng-click="remove(user._id)"></span></a>
                </td>
            </tr>
        </table>
    </div>
</div>
