<h1>Forms</h1>
<br />
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Forms" data-toggle="tab">Forms</a></li>
        <li><a>Fields</a></li>
    </ul>
</div>
<div class="tab-content" ng-controller= "FormController as controller">
    <div class="tab-pane active nav-tabs-justified" id="Forms">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr class="table-bordered">
                    <th class="table-bordered"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>&nbsp;Form Name</th>
                    <th class="table-bordered"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>&nbsp;Action</th>
                </tr>
                <tr class="table-bordered">
                    <td><input type="text" placeholder="name" class="textbox-color" ng-model="formName" required/></td>
                    <td>
                        <a ng-click="addForm()">
                            <span class="big-glyphicon glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                        </a>
                        &nbsp &nbsp &nbsp &nbsp &nbsp
                        <a ng-click="updateForm(selectedFormId,index)"><span class="big-glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr class="table-bordered" ng-repeat="form in forms | orderBy:predicate:reverse">
                    <td><a ng-click="navigate($index)"  class="textbox-color">{{form.title}}</a></td>
                    <td>
                        <a ng-click="deleteForm(form.id)"><span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        &nbsp &nbsp &nbsp &nbsp &nbsp
                        <a ng-click="selectForm($index)"><span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>