<ng-include src="'views/header/header.view.html'"></ng-include>
<br />

<div class="container"  ng-controller="UserController">
    <div ng-if="user" style="background:#645f5f;height:350px">
        <h1>
            User Information
        </h1>
        <table class="table-responsive table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>UserName</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <td>{{user.fullName}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td class="utableData">{{user.email}}</td>
                </tr>
                <tr>
                    <th>Favourite League</th>
                    <td>{{user.league.name}}</td>
                </tr>
                <tr>
                    <th>Favourite Team</th>
                    <td>{{user.team.name}}</td>
                </tr>
            </tbody>
        </table>
        <div align="center" ng-if="user.email == loggedInUser.email">
            <a class="btn btn-danger" ng-click="remove(user._id)">
                Delete
            </a>
            <a class="btn btn-success" ng-click="update()">
                Update Profile
            </a>
        </div>
        <div align="center" ng-if="'admin' == loggedInUser.role">
            <a class="btn btn-danger" ng-click="remove(user._id)">
                Delete
            </a>
        </div>
    </div>
    <div ng-if="!user">
        <img class="userNotFound" align="middle" src="http://www.covers.fbcovereffects.com/storage/cache/images/002/178/user-not-found,medium_large.jpg?1391609075"/>
    </div>
</div>