.container-custom-padding{
    padding-top:50px;
}

a#active{color:black;background-color:gold}

a#active1{color:#777;text-decoration:none;background-color:transparent}

body{
    background-image:url(t1UkrtF.png);
    background-size:cover;
}

h1{
    color:yellow;
}

p{
    color: white;
}

label{
    color:gold;
}