.container-custom-padding{
    padding-top:50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: gold;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #bf1414;
  background-color: transparent;
}

a#active{color:black;background-color:gold}

a#active1{color:gold;text-decoration:none;background-color:transparent}

body{
    background-image:url(t1UkrtF.png);
    background-size:cover;
}

h1{
    color:yellow;
}
h2{
    color:yellow;
}


p{
    color: white;
}

label{
    color:gold;
}

table, td, th {
    border: 1px solid green;
}

th {    
    color: black;
    background-color:#64767a;
}

.table-striped > tbody > tr:nth-child(2n+1) > td{
   background-color: #faf6d4;
}
.table-striped > tbody > tr:nth-child(2n) > td{
   background-color: white;
}

.big-glyphicon{
    font-size:x-large;
}

.textbox-color{
    border-color:black;
}

.nav-justified > li {
    display: table-cell; 
    width: 1%
}