<h1 class="col-lg-offset-1">Register</h1>
<br />
<br />
<form class="form-horizontal" ng-controller="RegisterController">
    <div class="form-group">
        <label for="Username" class="control-label col-lg-2 col-md-2">Username:</label>
        <div class="col-lg-7 col-md-7">
            <input type="text" id="Username" class="form-control" placeholder="Username" ng-model="uName" />
        </div>
    </div>
    <div class="form-group">
        <label for="FullName" class="col-md-2 col-lg-2 control-label">FullName:</label>
        <div class="col-lg-7 col-md-7">
            <input type="text" id="FullName" placeholder="FullName" class="form-control" ng-model="fname" />
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-md-2 col-lg-2 control-label">Password:</label>
        <div class="col-lg-7 col-md-7">
            <input type="password" id="Password" placeholder="Password" class="form-control" ng-model="pwd" />
        </div>
    </div>
    <div class="form-group">
        <label for="rep-pass" class="col-md-2 col-lg-2 control-label text-justify">Verify Password:</label>
        <div class="col-lg-7 col-md-7">
            <input type="password" placeholder="Verify Password" id="rep-pass" class="form-control" ng-model="repPwd" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-md-2 col-lg-2 control-label">Email:</label>
        <div class="col-lg-7 col-md-7">
            <input placeholder="Email" type="email" id="email" class="form-control" ng-model="email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-7 col-md-7">
            <button class="btn btn-primary btn-group-justified" ng-click="register()">Register</button>
        </div>
    </div>
</form>

