<div class="container" ng-controller="TSquadController as controller">
    <h1>{{teamname}}</h1>
    <br />
    <div>
        <ul class="nav nav-pills">
            <li><a ng-click="navigateToTeam()"  data-toggle="tab">Team-Info</a></li>
            <li><a ng-click="navigateToResults()" data-toggle="tab">Results</a></li>
            <li><a ng-click="navigateToFixtures()" data-toggle="tab">Fixtures</a></li>
            <li class="active"><a data-toggle="tab">Squad</a></li>
        </ul>
    </div>
</div>