<ng-include src="'views/header/header.view.html'"></ng-include>
<br />
<br />
<div class="container" style="background-color:#808080" ng-controller="TeamController as controller">
    <h1 style="padding:20px">{{team.name}}</h1>
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab">Team Details</a></li>
            <li><a ng-click="navigateToResults()" data-toggle="tab">Results</a></li>
            <li><a ng-click="navigateToFixtures()" data-toggle="tab">Fixtures</a></li>
            <li><a ng-click="navigateToSquad()" data-toggle="tab">First Team</a></li>
        </ul>
    </div>
    <br />
    <div class="tab-content">
        <br />
        <br />
        <div class="container">
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <img src="{{team.crestUrl}}"
                     onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2000px-No_image_available.svg.png';"
                     style="width:100%;" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                <h5 ng-if="team.name!=null"><b>Club Name: </b>{{team.name}}</h5>
                <h5 ng-if="team.code!=null"><b>Club Code: </b>{{team.code}}</h5>
                <h5 ng-if="team.shortName!=null"><b>Club ShortName: </b>{{team.shortName}}</h5>
                <h5 ng-if="team.squadMarketValue!=null"><b>Squad Market Value: </b>{{team.squadMarketValue}}</h5>
                <br />
                <div class="container">
                    <div class="left col-md-1">
                        <a ng-click="increaseLike()">
                            <span>
                                <i class="fa fa-thumbs-down big-glyphicon icon-myStyle iconDetails">
                                </i>
                            </span>
                        </a>
                        <div style='margin-left:60px;'>
                            <h5>{{like}}</h5>
                        </div>
                        <div class="row">
                            <a style='margin-right:50px;' ng-if="unlike==true" ng-click="unlikeEvent()">Unlike</a>
                        </div>
                    </div>
                    <div class="right col-md-1">
                        <a ng-click="increaseDislike()">
                            <span>
                                <i class="fa fa-thumbs-up big-glyphicon icon-myStyle iconDetails">
                                </i>
                            </span>
                        </a>
                        <div style='margin-left:60px;'>
                            <h5>{{dislike}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="col-md-11 col-sm-11 col-xs-11 col-lg-11">
    <div class="container col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h4>Leave a comment</h4>
        <div class="row">
            <img src="http://demo.patternlab.io/images/fpo_avatar.png" 
                 class="col-md-1 col-sm-1 col-xs-1 col-lg-1 avatar-style">
            <textarea placeHolder="Write a Comment" class="col-md-8 col-sm-8 col-xs-8 col-lg-8" ng-model="comment"></textarea>
        </div>
        <br />
        <div align="right" class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
            <button class="btn-primary" value="Post"
                    ng-click="addComment()">
                Post
            </button>
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="container row">

        <h4>{{commentSection}}</h4>
        <hr class="col-md-9" />
        <div class="col-md-9" ng-repeat="comment in comments">
            <div class="col-md-1">
                <div>
                    <img src="http://demo.patternlab.io/images/fpo_avatar.png" class="col-md-1 avatar-style" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="display:inline-block">{{comment.username}}</h4>
                        <a style="float:right" ng-click="deleteComment(comment._id)" ng-if="user.email == comment.email">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </span>
                        </a>
                    </div>
                    <div class="panel-body">
                        {{comment.commentText}}
                    </div>
                </div>
            </div>
            <hr class="col-md-9" />
        </div>
    </div>
</div>