<h1 class="col-lg-offset-1">Profile</h1>
<br />
<br />
<form class="form-horizontal" ng-controller="ProfileController">
    <div class="form-group">
        <label for="Username" class="control-label col-lg-2 col-md-2">Username:</label>
        <div class="col-lg-7 col-md-7">
            <input type="text" ng-model="uName" class="form-control" placeholder="Username" />
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-md-2 col-lg-2 control-label">Password:</label>
        <div class="col-lg-7 col-md-7">
            <input type="password" ng-model="pwd" placeholder="Password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="fname" class="control-label col-lg-2 col-md-2">First Name:</label>
        <div class="col-lg-7 col-md-7">
            <input type="text" ng-model="fName" class="form-control" placeholder="First Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="lname" class="control-label col-lg-2 col-md-2">Last Name:</label>
        <div class="col-lg-7 col-md-7">
            <input type="text" ng-model="lName" class="form-control" placeholder="Last Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-md-2 col-lg-2 control-label">Email:</label>
        <div class="col-lg-7 col-md-7">
            <input placeholder="Email" type="email" ng-model="email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-7 col-md-7">
            <button class="btn btn-primary btn-group-justified" ng-click="update()">Update</button>
        </div>
    </div>
</form>