<ng-include src="'views/header/header.view.html'"></ng-include>

<div class="container" style="background:#645f5f" ng-controller="HomeController">
    <br />
    <div class="col-md-12 col-lg-12" style="background:#645f5f;">
        <div class="col-md-9 col-lg-9" style="border:double;background:#000000">

            <div id="corousel" class="carousel slide" data-interval="3000">
                <ol class="carousel-indicators">
                    <li data-target="#corousel" data-slide-to="0" class="active"></li>
                    <li data-target="#corousel" data-slide-to="1"></li>
                    <li data-target="#corousel" data-slide-to="2"></li>
                    <li data-target="#corousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">

                    <div class="item" ng-repeat="slide in slides" ng-class="{active : $first}">
                        <img id="UniformImage" src={{slide.image.url}}
                             alt="Manc" class="img-responsive" />
                        <div class="carousel-caption">
                            <a ng-click="newsClick(slide)">
                                <h3 style="background:#000000">{{slide.titleNoFormatting}}</h3>
                            </a>
                        </div>
                    </div>
                    <span data-target="#corousel" class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </span>
                    <span data-target="#corousel" class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3" style="height:506px;overflow:auto;border:double;background:#000000">
            <div class="hidden-lg hidden-md">&nbsp;</div>
            <h4 style="color:gold">League Standings</h4>
            <div class="table-responsive">
                <table class="table table-striped timg" id="league-table">
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th></th>
                            <th>Team</th>
                            <th>Pts</th>
                        </tr>
                    </thead>
                    <tbody id="container">
                        <tr id="row" ng-repeat="team in teams">
                            <td class="pos">{{team.position}}</td>
                            <td class="crestcolumn">
                                <img class="crest" src="{{team.crestUrl.crestUrl}}"
                                     onerror="this.src = 'http://www.thewoodjoynt.com/Content/Images/Products/NoImageAvailable.jpg';" />
                            </td>
                            <td class="team"><a ng-click="toTeamPage(team._links.team.href)">{{team.teamName}}</a></td>
                            <td class="pts">{{team.points}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6" style="background-color:#000000;margin-top:10px;border:double">
            <h3 style="color:gold">Previous Result</h3>
            <h4 style="color:gold">{{rDate}}</h4>
            <h5 style="color:gold">{{rmyTime}}</h5>
            <table>
                <tbody>
                    <tr>
                        <td align="center" class="teamHome">
                            <img src="{{resultHomeCrest.crestUrl}}" class="homeImage"
                                 onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2000px-No_image_available.svg.png';"
                                 ng-click="toTeamPageI(resultHomeCrest.teamId)" />
                        </td>
                        <td class="result" align="center"><h4><b><u>{{res}}</u></b></h4></td>
                        <td align="center" class="teamHome">
                            <img src="{{resultAwayCrest.crestUrl}}" class="homeImage"
                                 onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2000px-No_image_available.svg.png';"
                                 ng-click="toTeamPageI(resultAwayCrest.teamId)"
                                 style="padding-left:10px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="teamHome">
                            <a ng-click="toTeamPageI(resultHomeCrest.teamId)"
                               class="hyperlink">
                                {{resultHomeCrest.teamName}}
                            </a>
                        </td>
                        <td class="result"></td>
                        <td align="center" class="teamHome">
                            <a ng-click="toTeamPageI(resultAwayCrest.teamId)"
                               class="hyperlink">
                                {{resultAwayCrest.teamName}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6" style="background-color:#000000;margin-top:10px;border:double">
            <h3 style="color:gold">Upcoming Fixture</h3>
            <h4 style="color:gold">{{fDate}}</h4>
            <h5 style="color:gold">{{fmyTime}}</h5>
            <table>
                <tbody>
                    <tr>
                        <td align="center" class="teamHome">
                            <img src="{{fixtureHomeCrest.crestUrl}}" class="homeImage"
                                 onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2000px-No_image_available.svg.png';"
                                 ng-click="toTeamPageI(fixtureHomeCrest.teamId)" />
                        </td>
                        <td class="result" align="center"><h4><b><u>{{vs}}</u></b></h4></td>
                        <td align="center" class="teamHome">
                            <img src="{{fixtureAwayCrest.crestUrl}}" class="homeImage"
                                 onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2000px-No_image_available.svg.png';"
                                 ng-click="toTeamPageI(fixtureAwayCrest.teamId)" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="teamHome">
                            <a ng-click="toTeamPageI(fixtureHomeCrest.teamId)"
                               class="hyperlink">
                                {{fixtureHomeCrest.teamName}}
                            </a>
                        </td>
                        <td class="result"></td>
                        <td align="center" class="teamHome">
                            <a ng-click="toTeamPageI(fixtureAwayCrest.teamId)"
                               class="hyperlink">
                                {{fixtureAwayCrest.teamName}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

