<div class="container" ng-controller="NewsController">
    <div>
        <h1>In the News</h1>
        <div ng-repeat="post in posts" class="container">
            <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <img src="{{post.image.url}}" class="thumbnail"/>
            </div>
            <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10">
                <a ng-click="newsClick($index)">
                <b>{{post.titleNoFormatting}}</b></a>
                <p ng-bind-html="post.content"></p>
            </div>
        </div>
    </div>
</div>