<ng-include src="'views/header/header.view.html'"></ng-include>
<br />
<div class="container" style="background-color:#808080">
    <br />
    <h1 class="about">About the Developer</h1>
    <p style="color:#2c0202">
        Govinda is currently pursuing his Masters Degree in Computer Science from Northeastern University, Boston. He has earned his Bachelors Degree in Information Technology from Uttar Pradesh Technical University, and currently he is actively seeking a challenging role at big/mid/small sized firms in the software development field.
    </p>

    <h1 class="about">About the Website</h1>
    <br />
    <p style="color:#2c0202">
        The website is one place stop for all you need to know about the current statistics of the different Soccer League. We bring to you the latest news from accross the Soccer world. 
    </p>
</div>

