<div ng-controller="HeaderController">
    <div ng-if="user==0">
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class=" container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Goal+</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#/home">Home</a>
                        </li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Leagues<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a>Premier League</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/398">Table</a></li>
                                        <li><a href="#/fixtures/398">Fixture</a></li>
                                        <li><a href="#/result/398">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>BundesLiga</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/394">Table</a></li>
                                        <li><a href="#/fixtures/394">Fixture</a></li>
                                        <li><a href="#/result/394">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>La Liga</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/399">Table</a></li>
                                        <li><a href="#/fixtures/399">Fixture</a></li>
                                        <li><a href="#/result/399">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Serie A</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/401">Table</a></li>
                                        <li><a href="#/fixtures/401">Fixture</a></li>
                                        <li><a href="#/result/401">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Ligue 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/396">Table</a></li>
                                        <li><a href="#/fixtures/396">Fixture</a></li>
                                        <li><a href="#/result/396">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Eredivisie</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/404">Table</a></li>
                                        <li><a href="#/fixtures/404">Fixture</a></li>
                                        <li><a href="#/result/404">Results</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/contact">Contact</a>
                        </li>
                        <li>
                            <a href="#/about">About</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/document/d/1BefXhdkBCI37gtrVhNXY9KEVQC-6SSvZfccJEVSGe7M/edit?usp=sharing" target="_blank">Project Document</a>
                        </li>

                        
                        <li>
                            <div id="the-basics" style="padding-top:10px">
                                <input class="typeahead form-control" type="text"
                                       placeholder="Search Team" ng-model="teamName">
                                <button style="" class="btn btn-default" 
                                        ng-click="toTeamPage()">
                                <i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </li>
                        <li ng-if="user.role=='admin'">
                            <a href="#/adminuser">Admin</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Register/Login<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/register">Register</a></li>
                                <li><a href="#/login">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div ng-show="user!=0">
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class=" container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Goal+</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#/home">Home</a>
                        </li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Leagues<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a>Premier League</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/398">Table</a></li>
                                        <li><a href="#/fixtures/398">Fixture</a></li>
                                        <li><a href="#/result/398">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>BundesLiga</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/394">Table</a></li>
                                        <li><a href="#/fixtures/394">Fixture</a></li>
                                        <li><a href="#/result/394">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>La Liga</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/399">Table</a></li>
                                        <li><a href="#/fixtures/399">Fixture</a></li>
                                        <li><a href="#/result/399">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Serie A</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/401">Table</a></li>
                                        <li><a href="#/fixtures/401">Fixture</a></li>
                                        <li><a href="#/result/401">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Ligue 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/396">Table</a></li>
                                        <li><a href="#/fixtures/396">Fixture</a></li>
                                        <li><a href="#/result/396">Results</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Eredivisie</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/table/404">Table</a></li>
                                        <li><a href="#/fixtures/404">Fixture</a></li>
                                        <li><a href="#/result/404">Results</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/contact">Contact</a>
                        </li>
                        <li>
                            <a href="#/about">About</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/document/d/1BefXhdkBCI37gtrVhNXY9KEVQC-6SSvZfccJEVSGe7M/edit?usp=sharing" target="_blank">Project Document</a>
                        </li>
                        <li>
                            <div id="the-basics" style="padding-top:10px">
                                <input class="typeahead form-control" type="text"
                                       placeholder="Search Team" ng-model="teamName">
                                <button style="" class="btn btn-default"
                                        ng-click="toTeamPage()">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </li>
                        <li ng-if="user.role=='admin'">
                            <a href="#/adminuser">Admin</a>
                        </li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{fullName}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="toProfile()">Profile</a></li>
                                <li><a href="#/profile">Update Profile</a></li>
                                <li><a ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>