<ng-include src="'views/header/header.view.html'"></ng-include>
<br />
<div class="container " style="background-color:#808080" ng-controller="NewsDisplayController">
    <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10">
        <img src="{{imageurl}}" class="col-sm-10 col-lg-10 col-md-10 col-xs-10" alt="" />
    </div>
    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">
        <h2 style="color:#120404; padding-left:20px"><b>{{titleNoFormatting}}</b></h2>
    </div>

    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8" style="padding-left:40px">
        <p ng-bind-html="content" style="color:#1e0707"></p>

        <p style="color:#1e0707">To Read more <a style="color:aliceblue" href="{{unescapedUrl}}" target="_blank">Click Here!!</a></p>
    </div>
    <hr style="width:67%;" align="left" />
    <div class="col-lg-8 col-md-8">
        <div class="col-md-2 col-lg-2">
            <button type="button" class="btn btn-success" ng-click="increaseLike()"
                    aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp;
                <span>{{like}}</span>
            </button>
        </div>
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-danger" ng-click="increaseDislike()"
                    aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;
                <span>{{dislike}}</span>
            </button>
        </div>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_email_large' displayText='Email'></span>
    </div>
    <hr style="width:67%;" align="left" />
    <div class="container col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h4>Leave a comment</h4>
        <div class="row">
            <img src="http://demo.patternlab.io/images/fpo_avatar.png"
                 class="col-md-1 col-sm-1 col-xs-1 col-lg-1 avatar-style">
            <textarea placeHolder="Write a Comment" class="col-md-8 col-sm-8 col-xs-8 col-lg-8" ng-model="comment"></textarea>
        </div>
        <br />
        <div align="right" class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
            <button class="btn-primary" value="Post"
                    ng-click="addComment()">
                Post
            </button>
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="container row" style="padding-top:20px">

        <h4>{{commentSection}}</h4>
        <hr style="width:75%" align="left" />
        <div class="col-md-9" ng-repeat="comment in comments">
            <div class="col-md-1">
                <div>
                    <img src="http://demo.patternlab.io/images/fpo_avatar.png" class="col-md-1 avatar-style avatar" />
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a ng-click="toUserPage(comment.email)"><h4 style="display:inline-block">{{comment.username}}</h4></a>
                        <a style="float:right" ng-click="deleteComment(comment._id)" ng-if="user.email == comment.email">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </span>
                        </a>
                    </div>
                    <div class="panel-body">
                        {{comment.commentText}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>